# Python
__pycache__/
*.py[cod]
*$py.class
.venv/
venv/

# Project
data/*.db
logs/*.log
models/*.pkl
models/*.h5
models/*.onnx
data/*

# IDE
.vscode/
.idea/
*.swp

###
run.bat
test.bat
update.bat
CLAUDE.md
preprocessing_*
train_*
visualize_*
condition_*
cnn_*
collect_*
